#logo
  %a{ :href=> "/"}
    %img{:src =>"/images/logo.png"}

#video_contenido
  #video
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "425", :src => "http://player.vimeo.com/video/30108920?title=0&byline=0&portrait=0", :webkitAllowFullScreen => "", :width => "600"}
  #info_video
    %h1
      Grupo de IA Simon Bolivar
    %p
      Entender la problemática asociada al uso de robots físicos en ambientes no estructurados y complejos. Diseñar y construir robots móviles capaces de cumplir tareas específicas utilizando sensores y actuadores. Realizar documentaciones técnicas de los comportamientos robóticos implementados, así como de las pruebas realizadas y los resultados obtenidos.
    #social_video
      %img{:src => "/images/like.png"}
      %img{:src => "/images/tweet.png"}

#video_thumbs
  #thumb1
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "160", :src => "http://player.vimeo.com/video/30016668?title=0&byline=0&portrait=0&color=fed351", :webkitAllowFullScreen => "", :width => "235"}      
    #thumb1_text
      %h1 Christian - Maestros del Web
  #thumb2
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "160", :src => "http://player.vimeo.com/video/30016668?title=0&byline=0&portrait=0&color=fed351", :webkitAllowFullScreen => "", :width => "235"}    
    #thumb1_text
      %h1 Harold Gimenez - Thoughtbot
  #thumb3
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "160", :src => "http://player.vimeo.com/video/29755443?title=0&byline=0&portrait=0", :webkitAllowFullScreen => "", :width => "235"}    
    #thumb1_text
      %h1 Ciro Duran - Chiguire
  #thumb4
    %iframe{:allowFullScreen => "", :frameborder => "0", :height => "160", :src => "http://player.vimeo.com/video/29262251?title=0&byline=0&portrait=0", :webkitAllowFullScreen => "", :width => "235"}    
    #thumb1_text
      %h1 Edgar - Piictu
