!!! Strict
%html
  %head
    %title Software Criollo 
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{:href=>"/favicon.png", :rel =>"Shortcut Icon"}
    %link{:href => "/stylesheet/styles.css", :rel => "stylesheet", :type => "text/css"} 
    %script{:src => "http://use.typekit.com/eak7bxn.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}
    <script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'e7d2b02a-8637-476d-9688-019ca36eabad'});</script>
  %body
    #wrapper
        
      =yield  

